entrypoint = "index.html"
modules = ["nodejs-20", "web"]

[nix]
  channel = "stable-24_11"
  packages = ["static-web-server"]
  
[deployment]
  publicDir = "/"
  deploymentTarget = "static"

[workflows]
  # Run 按鈕上顯示的文字
  runButton = "Serve SmartHome"

[[workflows.workflow]]
  name = "Serve SmartHome"
  mode = "parallel"
  
[[workflows.workflow.tasks]]
  task = "shell.exec"
  args = """
  echo "▶️ Serving SmartHome Energy Monitor…"
  # -d 指定根目錄，-p 指定 port，-w 開啟 watch
  static-web-server -d . -p 3000 -w .
  """
  # 等待 3000 port 起來
  waitForPort = 3000

[[ports]]
  localPort = 3000
  externalPort = 3000
  